[2021-04-16 00:06] chmorgan commented on #269
@FirstBlood12 you expect me to know how to implement IP spoofing just because I developed the library? I'm aware of what IP spoofing is but I've yet to implement it. It would be more than a little presumptuous of me to think that I could just guess at how to do it and know as much as you might about the subject.

On the SharpPcap side you can call LibPcapLiveDevice.SendPacket() to send a raw packe

[2021-04-16 01:44] trudyhood opened #273 "Improving WinDivert perfomance by using BatchMode offered in WinDivertRecvEx"
I have found out that WinDivert performance can be increased significantly by using batch mode offered in WinDivertRecvEx. Can you implement WinDivertDevice with BatchMode using WinDivertRecvEx instead WinDivertRecv? The performance is near 3x on high bandwidth and CPU utilization looks lower.

Please consider WinDivertSendEx too.

[2021-04-16 09:31] FirstBlood12 commented on #269
@chmorgan I want to spoof source IP for websocket because I am using websocket-sharp, So how I would do IP Address Spoofing for websocket using SharpPcap?

[2021-04-16 10:18] synpse opened #274 "SharpPcap not working on Raspberry PI 4 (Return code: -8)"
![image](https://user-images.githubusercontent.com/33324663/115010260-1b50ba80-9ea5-11eb-9608-78240ced9fdb.png)

I have already updated libpcap on the PI but this keeps appearing. No idea what that error code is.

I'm currently using DeviceMode.Promiscuous, although I have tried with DeviceMode.Normal. Also current timeout is 2500 but I've tried with 1000 and even with 10000, so I've got no clue w

[2021-04-16 10:42] kayoub5 commented on #274
are you running the application as root?

[2021-04-16 11:12] synpse commented on #274
I was not, it does work with sudo. I'm that stupid. Thanks!

[2021-04-16 11:12] #274 closed

[2021-04-17 01:51] chmorgan commented on #67
For anyone following this topic I opened a rough PR for Span<> support, https://github.com/chmorgan/sharppcap/pull/275 Feedback is desired.

There are a few rough edges at the moment but the API change is relatively minimal from the users standpoint. They can still call the old versions of the functions.

I did add a new PcapDevice.GetNextPacket(PacketArrivalEventHandler) variant that I didn't add

[2021-04-17 01:53] chmorgan commented on #67
Oh, and its about a 30% improvement in packet rate using the GetNextPacket(PacketArrivalEventHandler) variant. I'm guessing due to reduced memory allocations.

It would be great to have memory allocation reports to compare the performance tests etc but I've no idea if that's possible.

[2021-04-17 01:53] chmorgan commented on #67
@terite can you see if you could make use of the API in that PR? I don't really use sharppcap much myself so we'll need someone with a high performance use case to test and provide feedback.

[2021-04-29 17:24] charleslales opened #277 "PosixTimeval and OnPacketArrival on multiple event inconsistent?"
Hi,

Sniffing udp packet between 2 endpoints, one emtting each 200ms, the other answering directly, I get a behavior I don't understand...
It is WinForms app using NLog and SharpPcap (over Npcap) under Win10.
Debug as release generate same result.
PosixTimeval are all consistent, but OnPacketArrival events seem to be packed with periodically 1s gap.

` private void Device_OnPacketArrival(object o,

[2021-04-29 19:54] kayoub5 commented on #277
the one second is the read timeout default value, you could decrease it, or set devices in immediate mode to bypass it

[2021-04-30 00:24] kayoub5 commented on #277
You set `MinToCopy` to 0

See https://www.tcpdump.org/manpages/pcap_set_immediate_mode.3pcap.html

[2021-04-30 10:17] charleslales commented on #277
Thanks!
Would it be possible to highlight these options in documentation maybe?

[2021-05-02 23:30] trudyhood commented on #273
Sorry, no any comment about this?

[2021-05-03 01:08] chmorgan commented on #273
It’s a good idea. Let me look at how we might support that feature once
I’ve wrapped up some changes I have pending to clean up the API.

On Sun, May 2, 2021 at 7:31 PM trudyhood ***@***.***> wrote:

[2021-05-03 02:17] trudyhood commented on #273
Very good, really waiting for that.
Thank you

[2021-05-07 11:54] NeoMorfeo opened #279 "How can I (unit)test the CaptureDevices?"
I wish to knwo if there is any way to mock the CaptureDevices  (CaptureDeviceList).

I need that to test several code, that relays on the detection of the devices, but, i can't make a mock or substitute.

Can you provide some info about it?

thanks in advance.

[2021-05-07 12:22] roberdcr commented on #279
Thanks @NeoMorfeo for this post! I think we need a way to test our code and due to it doesn't use interfaces it is so hard to have a nice way to test

[2021-05-07 12:37] chmorgan commented on #279
@kayoub5 and I have discussed dropping the singleton use in CaptureDeviceList etc but changes here on master have yet to be made. Suggestions for improvements are welcome. 6.x is coming soon so now is a good time to propose API altering changes.

[2021-05-07 16:56] charleslales opened #280 "Captured Packet.Data.Length and udpPacket.PayloadData.Length threshold?"
Hi,

I'm currently facing an issue when capturing packet..
It does happen with a first app using
_sendSocket = new Socket(_ep.AddressFamily, SocketType.Dgram, ProtocolType.Udp);
_sendSocket.SendTo(message, msgLen, SocketFlags.None, ep);
but not with another test app using
_UdpClient = new UdpClient(port);
_UdpClient.Send(data, data.Length, ipe);

Capture code is samples one to get UDP info:
Device

[2021-05-07 17:25] chmorgan commented on #280
What do you mean by KO vs OK?

On Fri, May 7, 2021 at 12:56 PM charleslales ***@***.***>
wrote:

[2021-05-07 18:25] charleslales commented on #280
Well, to parse properly n obj, I need to get n x 13 + 7 bytes from udpPacket.PayloadData.
The test app with _UdpClient.Send(data, data.Length, ipe); generates no issue. These are the OK. All bytes are Device_OnPacketArrival.
The first app, operational one in fact, using _sendSocket.SendTo(message, msgLen, SocketFlags.None, ep);, generates proper bytes array up to 112 obj, 1463 bytes, then is stuck

[2021-05-07 22:01] kayoub5 commented on #280
@charleslales You have an MTU of 1500, your network interface can't send an UDP payload larger than `1500 - 14 - 20 - 8 = 1458` where `14 = Ethernet header, 20 = IP header, 8 = UDP header`, the numbers may vary a bit depending on the specifics of your setup.

[2021-05-07 22:39] kayoub5 commented on #280
Loopback devices don't have an MTU limit so the UDP packet can get as big as needed.

Performing IP de-fragmentation is one way to solve the issue,
Do keep in mind that modern Ethernet devices perform automatic hardware accelerated fragmentation also called **UDP fragmentation offload**, that means that OS/Pcap library see sent UDP message as a whole, while in reality the hardware is fragmenting t

[2021-05-08 13:28] charleslales commented on #280
Ok, thanks for explanation.
Would you see a way to deal with that fragmentation with sharppcap?

[2021-05-08 16:00] kayoub5 commented on #280
* Is it doable with SharpPcap? yes
* Is there something buitin in to do it? no
* Something similar previously done? https://github.com/chmorgan/packetnet-connections

[2021-05-09 12:20] AlmightyLks opened #282 "Process tracking"
Beginner here, bare with me 😄

Is it possible to know which process a packet is sent from?

[2021-05-13 23:35] chmorgan commented on #280
Yeah an extension package or an addition to packetnet-connections (although in this case I guess its misnamed since udp is connectionless) would be pretty cool

[2021-05-13 23:36] chmorgan commented on #277
@charleslales would you have a recommendation on where we might note that?

[2021-05-14 15:14] charleslales commented on #277
Sure, simply in documentation > features > capturing packet, little mention that Open can take some params to make it RT ;-)

[2021-05-14 15:20] charleslales commented on #280
Done it... well, let's say implemented what I needed to grab all fragments and build back at the end the udp packets.
No extension methods with a nice Device_OnReassembledPacketArrival  event... but some concurrent ConcurrentDictionaries to keep it a min thread safe and straight forward... Work great.
Can post it if you may think it is interesting.

[2021-05-14 17:45] chmorgan commented on #280
I bet others would be interested. It could be a good addition to
packdotnet-connections if you were interested.

On Fri, May 14, 2021 at 11:20 AM charleslales ***@***.***>
wrote:

[2021-05-23 02:21] chmorgan commented on #277
@charleslales do you have a url to that location? We don't have a documentation folder in the repo so I'm not sure where you might mean.

[2021-05-23 02:23] chmorgan commented on #282
We have issue #147 but there hasn't been too much detail on how that might be done. It may be possible of course, I'm not sure offhand how to do it. Closing this out as it appears to overlap with the other open issue.

[2021-05-23 02:23] #282 closed

[2021-05-23 02:24] chmorgan commented on #67
I think we've done a good portion of this on master at this point, with a 30% performance bump in the case where the data can be written during the callback and thus is zero copy from the incoming packet buffers. Closing this one out.

[2021-05-23 02:24] #67 closed

[2021-05-23 12:56] chmorgan commented on #273
Alright, took a look at the recv api. I'm not sure if/when I'd get to the changes but if this was implemented I think we'd want to do something like:

- Add a new WinDivert specific GetNext() that takes in an array of 'out PacketCapture[] e' (if this is possible)
- We need to have WinDivertDevice support an array of 'buffer's, likely with some dynamic allocation such that we allocate and grow them

[2021-05-28 08:09] trudyhood commented on #273
I hope you make the changes. I should say congratulation for updating to version 6. It looks version 6 is 30% faster. Using batch mode with WinDivert increases the speed by more than 300%!
You can check the performance difference with windivert passthru.exe on a gigabit network.

passthru.exe  [filter] [num-threads] [batch-size]
passthru.exe true 1 10

[2021-06-04 16:07] MikeYeager opened #286 "I'm only seeing the loopback adapter"
[code]
I am trying this on Windows 10 with .NET 6 Preview 4. When I run the above code, all I see is the loopback adapter. Any idea why this might be?

[2021-06-04 16:11] kayoub5 commented on #286
What adapters do you see in wireshark?

[2021-06-04 16:21] MikeYeager commented on #286
@kayoub5 same thing in WireShark. Does it not list WiFi adapters? Or might it have something to do with HyperV virtual switches?

[2021-06-04 16:26] MikeYeager commented on #286
@kayoub5 There was an update to WireShark, so I installed it. After installing, I see all the adapters, so I re-ran the code and now everything shows up. Odd, but re-installing WireShark fixed the problem. Thanks for the push in the right direction.

[2021-06-04 16:26] #286 closed

[2021-06-10 10:19] charleslales commented on #280
Hi,

Here it is, not fully functional but hopefully giving already elements to start with..
One more time, another `Device_OnReassembledPacketArrival` would be cleaner.

Let's consider these intermediate concurrent collections...
[code]

... and see how to use them `Device_OnPacketArrival`
[code]

Feel free to comment and especialy suggest some fixes ;-)

Kind regards,
Charles

[2021-06-17 20:33] escservices opened #288 "Unable to Load Shared Library 'libdl' or one of it's dependencies"
SharpPcap Version: 6.0.0.
.NET Version: Core 3.1
OS: Ubuntu 20.04.2 LTS

I have some C# code that uses SharpPcap, it works on Windows but on Linux I'm having trouble getting it to get past the "CaptureDevices.List.Instance part of the code.

The code compiles without errors or warning but throws this DLL error when running.  Any idea what this could be?  I can't find much online about this error.

[2021-06-19 10:12] kayoub5 commented on #288
what version of libpcap do you have installed?
what Linux distribution are you using?

[2021-06-19 13:40] alexalok opened #289 "Packet manipulation with WinDivert"
Hi!

I have tried to come up with a simple example of packet manipulation using WinDivert but failed miserably. At last I've noticed that during device opening there's a special flag being passed:
https://github.com/chmorgan/sharppcap/blob/774b7f03ded1abd2845ab09641faca1052b9b369/SharpPcap/WinDivert/WinDivertDevice.cs#L250

which is, according to the [WinDivert source](https://github.com/basil00/D

[2021-06-19 14:26] kayoub5 commented on #289
the value WINDIVERT_FLAG_SNIFF was chosen as default to have a simular behavior to winpcap (original driver of sharppcap)

other values for the flags could be used as well.

When you said that you failed, what kind of error did you run into?

[2021-06-19 14:38] alexalok commented on #289
Thank you for your answer. Actually looks like I've found out the culprit of the issue. I was following [these](https://github.com/chmorgan/sharppcap/issues/251#issuecomment-786799450) instructions which include setting `WINDIVERT_FLAG_DROP` flag.

The docs, however, state the following:

I unset all flags and now everything works as a charm.

[2021-06-19 14:38] #289 closed

[2021-06-19 15:10] alexalok opened #290 "AccessViolationException with WinDivert and Socket/Flow layers"
Hi!

I've noticed that SharpPcap tries to read packet data every time it receives an event from WinDivert. However, it looks like some events do not have any which leads to AccessViolationException when trying to access the non-existing data.

Simple repro:

[code]

For instance, it crashes on an `WINDIVERT_EVENT_SOCKET_BIND` event:
![image](https://user-images.githubusercontent.com/5950085/122646

[2021-06-19 17:45] alexalok commented on #289
Looks like `WINDIVERT_FLAG_DROP` in 1.x versions of WinDivert has a different behavior and indeed dropped the packet but also sent it to `WinDivertRecv`. In 2.x the this behavior is now by-default and `WINDIVERT_FLAG_DROP ` just prevents packets from going into `WinDivertRecv`.

[2021-06-19 18:31] alexalok commented on #290
Okay, this is strange. Please have a look at the minimum repro attached. Notice that despite `buffer` not being used (even VS warns me about an unused variable) it becomes "damaged" after `WinDivertRecv` is executed and debugger shows "Unable to read memory" when trying to evaluate the variable.

I am quite new to the unsafe part of C# world so any tips/hints would be appreciated!

![image](https:

[2021-06-19 19:13] alexalok commented on #290
Ok, so I believe this is due to WinDivertAddress struct being different for different layers: https://www.reqrypt.org/windivert-doc.html#divert_address
Trying to come up with the correct struct for the flow layer...

[2021-06-19 20:30] kayoub5 commented on #290
The imlimentation I wrote for windivert only supports network flow (since that was the only flow simular to winpcap)
feel free to open a PR for support of other flows.

[2021-06-19 20:36] alexalok commented on #290
Thanks for clarifying! I'll do some more research and open a PR once I have something decent.

[2021-06-19 20:36] #290 closed

[2021-07-05 14:47] kpolicar opened #291 "SharpPcap.PcapException: Unable to activate the adapter: Return code: -4"
Issue when attempting to open a remote device through winpcap, the server (rpcap) running on a different machine on the local network. The firewall of the server is turned off.

Exception:
[code]

From what I could find, return code -4 is described as:
**the operation can't be performed on already activated captures**
Source: https://github.com/the-tcpdump-group/libpcap/blob/master/pcap/pcap.h

Wh

[2021-07-06 10:41] kayoub5 commented on #291
@kpolicar What version of Libpcap/WinPcap/Npcap do you have installed in the server and client?

[2021-07-06 11:29] kpolicar commented on #291
Client: npcap 1.50
Server: Winpcap 4.1.3

[2021-07-06 16:16] kayoub5 commented on #291
the unit tests we have are for winpcap and libpcap, last time I checked npcap support for rpcap was broken.
could you test with both client and server winpcap?

[2021-07-06 17:27] kpolicar commented on #291
It appears to work now that I have winpcap on both computers. Thanks :)

[2021-07-06 17:27] #291 closed

[2021-07-13 03:43] samuel-pl commented on #288
I'm having the same issue when I make a call to LibPcapLiveDeviceList.Instance.

`
Unhandled exception. System.DllNotFoundException: Unable to load shared library 'libdl' or one of its dependencies. In order to help diagnose loading problems, consider setting the LD_DEBUG environment variable: liblibdl: cannot open shared object file: No such file or directory
   at SharpPcap.LibPcap.LibPcapSafeNa

[2021-07-13 03:59] escservices commented on #288
@samuel-pl a few things I found after posting my initial issue.  There seems to be libraries in sharppcap that don't work with dot net 5.0, try 3.1 which is LTS I think.  That fixed some issues.  I fixed another issue by installing libc6-dev on the host OS (sudo apt install libc6-dev) on Ubuntu.  Ultimately, I could never get it to work inside a Snap container without getting the error we both pos

[2021-07-13 05:05] samuel-pl commented on #288
@escservices Thanks for the tip. I found that installing glibc-devel.x86_64 seemed to do the trick without needing to downgrade to 5.0. Unfortunately on the amazon instance the call to `LibPcapLiveDeviceList.Instance` returned zero devices, regardless of .NET version. Probably have to keep investigating

[2021-07-14 23:44] chmorgan commented on #277
Closing due to lack of response.

[2021-07-14 23:44] #277 closed

[2021-07-14 23:56] chmorgan commented on #288
Hello, could you provide some steps to reproduce? @kayoub5 any ideas what might be up?

[2021-07-15 07:24] kayoub5 commented on #288
libdl used here was not found, it is available in all the CI servers, but seems to be missing in the setup of the reporters of this ticket.

https://github.com/chmorgan/sharppcap/blob/0801674d28d7ce5995076e2d0c7402e382d12cda/SharpPcap/LibPcap/LibPcapSafeNativeMethods.Resolver.cs#L90-L91

Solution would be to call `NativeLibrary.Load` using reflection.

[2021-07-20 00:00] chmorgan commented on #288
@kayoub5 how would that fix the issue again? Is using NativeLibrary.Load replacing the use of libdl calls? Would you be able to make the changes to fix? I'm not sure how many people are being impacted but if its the correct thing to do it might help a number of people with these loading issues.

[2021-08-05 19:17] KoenPlasmansLS opened #295 "AccessViolationException on MarshalRawPacket"
Runtime system: Windows (client installation so not much known and unable to reproduce on developer machine)
Installed software: SharpPcap 5.4.0
Application uses .NET Version 4.8

We came across several of our customers running different windows environments, having the following issue that is being logged in our software. Seems like memory access issue with pointers but I'm not and expert. Even t

[2021-08-05 19:59] kayoub5 commented on #295
* OS used?
* Is the application multi threaded?
* Does the application close the device while it's receiving packets in `OnPackerArrival` ?

[2021-08-05 20:08] KoenPlasmansLS commented on #295
- Various Windows OS, if I have to name one Windows Server 2019
- Yes
- The code that closes the device will first deregister the OnPacketArrival delegate:
         device.OnPacketArrival -= Device_OnPacketArrival;
         device.Close();

[2021-08-05 20:16] kayoub5 commented on #295
PcapDevice is not thread safe (since `pcap_t` in WinPcap/Libpcap/Npcap is not thread safe), meaning if more than one thread access it at the same time, AccessViolationException will happen.
Most common case is device.Close() being called while OnPacketArrival is being called, or about to be called.
Example Sequence:
* Thread A: calls PacketHandler from pcap_dispatch
* Thread B: calls device.Close(

[2021-08-05 20:23] KoenPlasmansLS commented on #295
I'm going to assign an engineer on this issue if that is indeed the case and we'll come back to you as soon as possible. Thanks for looking into this and for coming up with a possible cause.

[2021-08-16 07:10] bpanhale opened #297 "Linux - Unable to Activate Adaptor (vethxxx). Return Code: -8"
Hello Team,

I am facing below issue on linux device. I am using Ubuntu 18.04 LTS OS to run this solution.
On windows system it is working properly but on Linux is throws some exception.

Please let me know if you need more details of device.
![image](https://user-images.githubusercontent.com/41563693/129524667-8f4ce98c-f086-4a5d-acfc-810497a7c6ee.png)

[2021-08-16 07:58] kayoub5 commented on #297
run the application as root with sudo

[2021-08-17 22:05] zbalkan commented on #57
I'd like to add a workaround I've used for this: Getting a name from the description. The device interface description gives us something like this:
`Network adapter 'Adapter for loopback traffic capture' on local host`

Therefore, I use the string between the single quotes. However, since the names are still null, I use a new dictionary of generated device names as key with the interface as value

[2021-08-18 11:12] bpanhale commented on #297
Hello @kayoub5,

Thank you. Now it is working on Linux host machine.
Actually I was deploying IoT Edge module with Linux containers. I am trying to access Host network inside the container. I have setup the deployment template file as mentioned here - https://github.com/Azure/iot-edge-v1/issues/517#issuecomment-407453239

But still having the issue as given in the below screenshot. Is there anythi

[2021-08-18 22:01] kayoub5 commented on #297
The error you see comes from libpcap itself, sharppcap simply forwards it in the form of an exception.

I believe containers need to run privileged, or have some kind of pci express passthrough in order to have access to the adapter through libpcap.

[2021-08-21 20:34] odedshimon opened #300 "Non ASCII chars on path \ file name causing exception"
Hi!

I came across this exception when trying to read a file that contains non ASCII chars at his name:
**"Unable to open offline adapter: <THE-FILE-PATH>: Invalid argument"**
The non ASCII chars are shown as question marks (picture attached) even though the file exists (the original file name is: "Non ASCII file name - (אבג).pcap").
![image](https://user-images.githubusercontent.com/18364847/1303

[2021-08-22 22:33] kayoub5 commented on #300
Solution would be to set libpcap to utf-8 mode using `pcap_init`

[2021-08-22 23:27] chmorgan commented on #300
@kayoub5 should we be doing that by default? There was another user with a similar issue, I think Chinese locale. I don't see us calling pcap_init() anywhere at the moment.

[2021-08-22 23:42] kayoub5 commented on #300
I believe so, this ticket is easier to reproduce compared to #87
Please note that the call to pcap_init may fail old libpcap installations, since the method was added rather recently.

[2021-08-22 23:50] chmorgan commented on #300
We don't call pcap_wsockinit either. This looks like new behavior, never heard that we needed to make such calls in the past. https://man7.org/linux/man-pages/man3/pcap_init.3pcap.html

[2021-08-23 22:04] #288 closed

[2021-08-24 08:56] bpanhale commented on #297
Hi @kayoub5,

Thank you for your suggestions. I am able to run application without any exception but packet capture is stopped immediately. Is there any way to check logs to check what is happening in the backend. Please refer below screenshot that I can see on the console.

![image](https://user-images.githubusercontent.com/41563693/130588008-80c8ce92-af41-4f9a-9026-70ea93550884.png)

[2021-08-24 11:05] kayoub5 commented on #297
check the status reported in the capture stop event, it usually explains why the capture stopped

[2021-08-28 21:32] odedshimon opened #301 "No packets captured when using wireless devices"
Hi,

I don't know if it is an expected behavior or maybe a misuse (done by me) at the library:
I'm successfully capturing packets from Ethernet devices, but when I'm selecting wireless devices I get no packets (the OnPacketArrival event is not raising at any point).
I ask this because the conditions are the same in both cases (same code, same computer).

Did I miss something? Do you have any idea

[2021-08-28 22:51] kayoub5 commented on #301
My experience with wireless interfaces is that they behave identically to ethernet devices by default (unless changed to monitor mode)

Wireless interfaces do not log packets unless the wireless device is connected to a network and is actively exchanging packets with the router.

Some details that could identify or solve the problem:
* use latest version of npcap driver
* use latest version of sha

[2021-08-30 08:24] renovate[bot] opened #302 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

This repository currently has no open or pending branches.

---

- [ ] Check this box to trigger a request for Renovate to run again on this repository

[2021-08-30 21:46] odedshimon commented on #301
OK I figured it out (thanks to the lead!).
I have tested it again using latest versions (SharpPcap 6.0.0 + Npcap 1.50), still no change compared to the previous test.

Then I used the [capturing example] (https://github.com/chmorgan/sharppcap/blob/master/Examples/Example3.BasicCap/Program.cs) on the same environment and luckily it worked.

At this point I realized that the problem is probably with

[2021-08-30 21:46] #301 closed

[2021-08-31 15:58] kayoub5 commented on #300
@odedshimon could you try #303 and see if it fixes the problem for you, string encoding is a bit tricky and depends a lot on the framework/os being used

[2021-08-31 17:04] odedshimon commented on #300
Sure.
I have tested it: cloned the repo, create an updated nuget and installed it (Windows 10, Net Core 3.1.4).

Seems that the file is still not recognized (appears as "????" although the string is "אבגדה"):
![image](https://user-images.githubusercontent.com/18364847/131544122-52e5b2c7-6628-4859-8fcf-f0098de3c4c6.png)
![image](https://user-images.githubusercontent.com/18364847/131544199-73e96e88-

[2021-08-31 17:21] kayoub5 commented on #300
@odedshimon What path does `ConfigureStringEncoding` take during initialization?
* What version of Npcap/WinPcap do you have? What does `Pcap.Version` return?
* What's your system encoding?
  - return value of `GetACP()`
  - output of `chcp` command

[2021-08-31 17:24] kayoub5 commented on #300
@odedshimon screenshot indicates you are in master branch, encoding support is still in `feature/pcap_encoding` branch

[2021-08-31 18:45] odedshimon commented on #300
Sorry, I thought it was merged 😃
1. Did all the above checks again after checking out this branch - no change.
2. Pcap.Version - **"Npcap version 1.50, based on libpcap version 1.10.1-PRE-GIT"**
3. ConfigureStringEncoding - I'm not sure what to check, feel free to guide me.
4. Npcap version - **1.50**
5. GetACP(), I used python to call winapi - **1252** (see attached photo)
6. chcp result - **Acti

[2021-08-31 19:21] kayoub5 commented on #300
This indicates that the file name may have not been passed correctly to the application from the command line
![image](https://user-images.githubusercontent.com/1814900/131561522-1cb89431-ad6e-467a-8b99-2333f25de0fa.png)
The code for this line is
[code]
Meaning that the file name encoding may have been screwed up even before it arrived to the `CaptureFileReaderDevice`

There are 4 return statement

[2021-08-31 20:05] kayoub5 commented on #295
@KoenPlasmansLS any luck with isolating the issue?

[2021-09-01 15:32] odedshimon commented on #300
I have verified that the path is passed properly and it seems to work:
![image](https://user-images.githubusercontent.com/18364847/131700291-f49c9e6a-9e66-41bd-b658-9eac9f0f2753.png)
Well done.

[2021-09-01 16:25] #300 closed

[2021-09-05 14:28] kayoub5 commented on #297
@bpanhale do you receive traffic if you use the `any` interface ?

[2021-09-05 14:43] kayoub5 commented on #87
@zhangchaoza I saw that you have a patch here https://github.com/zhangchaoza/sharppcap/commit/1d939b52172c9fb15b81e43338507520eaf7b438 do you mind contributing it?

[2021-09-06 06:18] kayoub5 commented on #273
Keeping this open until WinDivertSendEx is supported as well

[2021-09-06 10:09] bpanhale commented on #297
Hello @kayoub5,

Yes, I am able to receive traffic on 1st and 2nd interface by adding some delay between start and stop. Interactive console app was not supported by docker container and that is why it was stopped automatically without waiting for user input.

Thank you for your time.

[2021-09-06 10:09] #297 closed

[2021-09-06 13:43] #57 closed

[2021-09-07 19:28] #295 closed

[2021-09-12 14:10] kayoub5 opened #311 "pcap_compile() in Libpcap pre 1.8.0 is not thread-safe"
Currently sharppcap provides static methods for creating/running filter, such as `PcapDevice.CheckFilter`.

Those methods use `pcap_compile`, this method is not thread-safe in old versions of Libpcap.

Having a static method that is not thread safe, could lead to crashes for multi-threaded applications.

Test that currently detect this issue is `MemorySafetyTests.DisposeDuringCapture`

[2021-09-12 21:29] #311 closed

[2021-09-16 10:27] gs-rs-21 opened #314 "SharpPcap.LibPcap.LibPcapLiveDevice.Open ignores flags in SharpPcap.DeviceConfiguration.Mode"
I'm updating a C# application from SharpPcap 4.0.0 to 6.00.
The applications with 4.0.0 opens the capture device with these flags set:
`_livePcapDevice.Open(OpenFlags.MaxResponsiveness|OpenFlags.NoCaptureLocal|OpenFlags.NoCaptureRemote, 1000);`

The applications with 6.0.0 opens the capture device with these flags set:
`_livePcapDevice.Open(DeviceModes.MaxResponsiveness|DeviceModes.NoCaptureLocal|

[2021-09-16 11:16] kayoub5 commented on #314
@gs-rs-21 could you open a PR with the proposed change?

[2021-09-19 09:25] kayoub5 opened #317 "CI Issues"
@chmorgan could you look into those?

- [x] Travis jobs no longer running
- [x] Azure jobs always failing with `No hosted parallelism has been purchased or granted. To request a free parallelism grant, please fill out the following form https://aka.ms/azpipelines-parallelism-request`
- [ ] Some CI jobs fail to find coverage files, the failure is always silent and not visible in GitHub status, poss

[2021-09-24 03:42] lovejotd opened #327 "Overall Offset of Packet within File"
Is there anyway when I processing files, to know the offset of the current packet within the larger pcap file? I am having a hard time figuring/finding it out, and it could be helpful for me. Thanks!

[2021-09-24 18:11] kayoub5 commented on #327
What's the os?
In Linux you could get the file object and use ftell on it

[2021-09-24 18:18] lovejotd commented on #327
Ideally this would need to work in either windows or Linux.  Do you have an example of what you mean? Or link to an example?

[2021-09-24 19:21] kayoub5 commented on #327
Use `FILE	*pcap_file(pcap_t *)` to get file pointer, then `long int ftell ( FILE * stream );` to get file position.
You will need to write your own interop.

[2021-09-27 07:26] jgaulon opened #328 "Support of pcapng file"
The pcagng file format doesn't seem to be supported.
When I open (with wireshark Version 3.4.8 on windows 10) the file `[ipv6_http.pcap](https://github.com/chmorgan/sharppcap/blob/master/Test/capture_files/ipv6_http.pcap)` , save it as ipv6_http.pcapng file, and then run the CaptureInfinite() unitest with this new file, the test fails to open the pcapng file and throws a PcapException.

The `adapt

[2021-09-27 16:29] kayoub5 commented on #328
Currently support for pcapng depends on the libpcap version being used. old libpcap versions do not provide pcapng.

[2021-09-27 16:38] chmorgan commented on #328
Hi Julien, what capture library and version are you using?

On Mon, Sep 27, 2021 at 12:29 PM Ayoub Kaanich ***@***.***>
wrote:

[2021-09-28 07:06] jgaulon commented on #328
I'm on windows 10 with latest wireshark version x64 3.4.8 and Npcap 1.31. I will install Npcap 1.55 and check is this makes any difference.

[2021-09-28 07:11] jgaulon commented on #328
Same behavior with Npcap version 1.55, based on libpcap version 1.10.2-PRE-GIT

[2021-10-09 06:46] Airyzz opened #334 "Strange packet timings"
Hi, Im not actually sure if this is an issue or not, so feel free to close it if this is the expected behaviour.

Basically my program seems to be recieving packets in bursts, rather than the constant stream I would expect. It seems like the code will not receive any packets for about a second, then it recieves around 50 packets all at once, then goes idle for another second, and so on.

Here is t

[2021-10-09 09:05] kayoub5 commented on #334
You can reduce the `ReadTimeout`, or turn on the `Immediate` mode

[2021-10-11 07:19] #314 closed

[2021-10-22 18:20] FlashPlayer13 opened #339 "WinDivertDevice silently drops packets on send"
Hi. I am using 6.1 version. Windows 10.
My simple code to capture packets and send them further is:

[code]
But it doesn't work. Packets just drop somewhere. What i am doing wrong?

Visual Studio runs with admin rights (no exception about it), all three needed libs are lying in app directory.

[2021-10-23 00:29] kayoub5 commented on #339
* What do you mean by "packet dissapear"?
* About original capture.Header - what do you mean? => `winDivertDevice.SendPacket(capture.Data, capture.Header);` instead of `winDivertDevice.SendPacket(rawCapture);`

[2021-10-23 07:59] #339 closed, assigned to nobody

[2021-10-25 07:38] usernamedd opened #341 "CaptureDeviceList .Instance return list of 0 length"
target framework : net472
os: windows 10
the code snappet :
[code]

[2021-11-02 10:05] KoenPlasmansLS opened #343 "AccessViolation on SharpPcap.PacketCapture.GetPacket()"
Runtime system: Windows (client installation so not much known and unable to reproduce on developer machine)
Installed software: SharpPcap 6.1.0
Application uses .NET Version 4.8

Coming back to issue #295, we upgraded our software to use version 6.1.0 of your library and we noticed that our service still crashes (even though we try to catch unmanaged exceptions...). Note that it is again very har

[2021-11-02 11:23] kayoub5 commented on #343
This would happen if `device.Close()` or `device.Dispose()` was called while `Device_OnPacketArrival` is running

[2021-11-02 11:46] KoenPlasmansLS commented on #343
I'm running tests that dispose (in a separate thread) the device on the arrival of a packet and all I get is the following error : DeviceNotReadyException with message "Cannot get datalink, the pcap device is not opened". Now it might be that it is very hard to reproduce as the disposal should be done just in between https://github.com/chmorgan/sharppcap/blob/master /SharpPcap/RawCapture.cs#L94 (w

[2021-11-02 12:50] kayoub5 commented on #343
There is one solution I can think of:
[code]

[2021-11-03 07:44] KoenPlasmansLS commented on #343
Hmm, I'm not sure what teh DangerousRelease and DangerousAddRef does but adding a "safe" method could work for us, yes!

[2021-11-03 08:45] KoenPlasmansLS commented on #343
It seems I didn't add a part of the exception which explains a few things:
System.AccessViolationException
at System.Runtime.InteropServices.Marshal.CopyToManaged(IntPtr, System.Object, Int32, Int32)
at SharpPcap.LibPcap.PcapDevice.MarshalRawPacket(IntPtr, IntPtr)
at SharpPcap.LibPcap.PcapDevice.PacketHandler(IntPtr, IntPtr, IntPtr)
at SharpPcap.LibPcap.Windows.pcap_dispatch(IntPtr, Int32, pcap_ha

[2021-11-03 10:14] KoenPlasmansLS commented on #343
My suggestion:
`    public partial class PcapDevice
    {
        /// <summary>
        /// Thread that is performing the background packet capture
        /// </summary>
        protected Task captureThread;

        /// <summary>
        /// Flag that indicates that a capture task should stop
        /// </summary>
        protected CancellationTokenSource taskCancellationTokenSource = new Cance

[2021-11-03 18:59] kayoub5 commented on #343
@KoenPlasmansLS all the stack have `PacketHandler` in them, that could be used as safety point for doing `DangerousAddRef`
See  #344

[2021-11-03 22:00] KoenPlasmansLS commented on #343
At our company, we did some extensive research on the underlying issue and we feel we must add more info to the original issue being reported here: The real problem we need to see addressed is NOT the AccessViolationException! Any exception that occurs within the thread being created in PcapDeviceCaptureLoop has the potential to be unhandled and can crash any client application that uses your libr

[2021-11-03 22:42] kayoub5 commented on #343
@KoenPlasmansLS I agree about having a generic try/catch to prevent an exception inside a thread from crashing the application.
This is already covered in an unreleased commit in https://github.com/chmorgan/sharppcap/commit/82167ba0345c0f5f32136db55760996cf0ae3ed4#diff-8021e0b0ce794534e7b87c4ef192dc597320cfdc4a2a64499f368e333ca5a19fR69

Where ALL exceptions inside the thread are caught to prevent

[2021-11-04 10:02] KoenPlasmansLS commented on #343
Hi @kayoub5 , I tried out the latest master build on the test-program I've written and I still get application crashes while when using a Task, I don't get these application crashes. So even the generic try/catch inside the thread is not bulletproof from what I see.

[code]

[2021-11-04 19:32] kayoub5 commented on #343
@KoenPlasmansLS you said that you made the tests on master, #344 was not merged yet at the time.
I put your test in PR #345, to see if any of CI servers can reproduce the crash, since I was not able to do so

[2021-11-05 09:18] KoenPlasmansLS commented on #343
@kayoub5 I definitely see an improvement. Just out of curiosity, when will a new release (candidate) be created? We're anxious to move ahead with this investigation at our customer's site.

[2021-11-05 11:49] kayoub5 commented on #343
@chmorgan is the one who makes releases

[2021-11-07 18:14] #341 closed

[2021-11-17 22:53] kayoub5 opened #350 "Update CI accounts"
All CI accounts needs to be updated after the repo was moved to dotpcap.

[2021-11-30 20:36] Aaron2550 opened #351 "A device connected to the system does not work"
Hey, i keep getting the error "Can't send packet: send error: PacketSendPacket failed: A device connected to the system does not work. (31)" when trying to use `SendPacket(byte[], int)`. The Device does work tho, since im writing this Issue while using said Device. Im using SharpPcap 6.1.0 on Windows 10 21H1. Running the Program as Admin wont fix it either. Any Ideas?

[2021-11-30 21:55] kayoub5 commented on #351
@Aaron2550
* What kind of device is it? physical ? virtual? Ethernet? WiFi? integrated card or USB Ethernet adapter?
* What's the device connected to?
* Does this error happen sporadically? or you can never get the device to work?
* Does the device sporadically disconnects and connects back again?

[2021-12-02 14:49] Aaron2550 commented on #351
Sorry for the wait!

- The Device is a Physical one, it calls itself a "Realtek PCIe GbE Family Controller", and came with my Mainboard
- The Device is connected to my LAN
- I can never get it to work
- No, the Device does not randomy disconnect.
- The packet i'm trying to send is 10792 bytes. *Now that you asked me this question, i realized this is probably wayyyy to big. I didn't check if what i

[2021-12-02 16:50] kayoub5 commented on #351
@Aaron2550 you are sending data larger than your adapter MTU (default 1500)

[2021-12-03 13:49] chmorgan commented on #350
@kayoub5 @PhyxionNL do you have an azure pipelines account and want access to the azure team? If you can give me your account info, name, email (I have no idea what I'll need to add you) I can rename the team from 'chmorgan' to 'dotpcap' and add you as admins to it. You don't have to post here you can email me at chmorgan@gmail.com with your info.

[2021-12-03 13:53] chmorgan commented on #317
@kayoub5 travis is saying I've exceeded my monthly unique users. But it also says I have an unlimited unique users plan for free.

I'd be ok if we dropped travis. Their credits are very limited and the builds are relatively slow.

Thoughts?

[2021-12-03 15:53] kayoub5 commented on #317
@chmorgan their plus side is ARM support, we just need one CI job for ARM from Travis, that way we keep the quote to a minimum.

[2021-12-03 20:29] #351 closed

[2021-12-03 21:32] kayoub5 commented on #350
Yeah, that would be good.

Done.

[2021-12-04 15:12] kayoub5 commented on #350
@chmorgan AppVoyer needs to be updated as well.

[2021-12-04 16:27] chmorgan commented on #350
@kayoub5 updated appveyor to the org address. Not sure if there is a way to get a team account for free there.

[2021-12-04 16:29] chmorgan commented on #317
@kayoub5 I can't figure out how to restore the travis-ci build. It looks like all of their plans are paid now.

[2021-12-04 16:32] chmorgan commented on #317
let me open an issue with them, their service frankly has had a number of glitches and issues, maybe they can fix it.

[2021-12-04 16:53] chmorgan opened #356 "Drop ubuntu 16.04 CI builds?"
16.04 is pretty old. I can't remember why we added it either. Thoughts on dropping it from our CI builds, @kayoub5?

[2021-12-04 18:31] kayoub5 commented on #356
So far it did not cause any maintenance problems, and it's still supported by CI and Ubuntu community.

see https://ubuntu.com/16-04

[2021-12-05 00:41] AlmightyLks commented on #147
Would you guys be interested if I looked into implementing this? 🤔
I feel like I am onto something, but I wouldn't waste efforts on something that won't be accepted in the first place. 😄

[2021-12-05 09:03] kayoub5 commented on #147
After some digging I found that WinDivert can either:
* Listen for Socket Events (bind/connect/disconnect), where you can filter on process id
* Read packets, but it does not have process id for each packet

Having a lookup table that record socket events, and cache a mapping table between endpoint and process id has to be done in an extra class.

The initial values for the table could be filled u

[2021-12-05 09:58] PhyxionNL commented on #350
Sent 😊

[2021-12-05 11:09] AlmightyLks commented on #147
@kayoub5
For all I know, TCP packets can be associated back to the process via a simple API class from .NET. i am not sure whether it's windows-only, from the top of my head, I only remember that it has `UnsupportedPlatforms("android")`.

I looked more into this last night and I'd say that this would suit more into PacketNet, as it requires getting the port which needs to be parsed from the byte d

[2021-12-05 11:14] AlmightyLks commented on #147
As you are thinking about manually mapping the tcp connection tables from the winapi, .NET actually already has a class and an appropriate method for it.

https://docs.microsoft.com/en-us/dotnet/api/system.net.networkinformation.ipglobalproperties.getactivetcpconnections

That the System.Net,* devs did mark this to be unsupported for android, but didn't mark it for linux/unix and continue to keep

[2021-12-05 11:36] kayoub5 commented on #147
I am aware of that API, unfortunately it does not provide process id.

[2021-12-05 12:00] AlmightyLks commented on #147
I just noticed! 😄
As I was looking into `iphlpapi.dll`'s `GetExtendedTcpTable` function, a friend told me that there already exited a wrapped API for this.
That was my last track that I was looking into that night
Alright, back to the winapi then

[2021-12-06 02:01] chmorgan commented on #350
@PhyxionNL added you to azure team. Closing ticket for now.

[2021-12-06 02:01] #350 closed

[2021-12-07 20:00] ghost opened #360 "this sucks"
no!

[2021-12-08 01:21] chmorgan commented on #360
Upset that you aren't as clandestine now that your network traffic is being parsed by sharppcap?

[2021-12-10 07:47] UmmonKRS opened #361 "RSSI parse example"
Hi!
On codeproject page there mentions of supporting of IEEE 802, can't find an example how to get rssi information from PacketCapture.
Is this feature supported by library?

[2021-12-10 13:45] a6datta opened #362 "Capture packet from another IP within the same network"
I was able to do the following with pcap.net. I have not found a way to do the same with sharppcap. So I actually have two questions. How can I get the SIP header with sharppcap and can I monitor another IP within the same network.

I am trying to get the details when a VOIP phone rings. The hardware phone is connected to the same network.

I can get the device details as per the example (how can

[2021-12-10 14:34] kayoub5 commented on #362
I assume you mean RPCAP
Use `PcapInterface.GetAllPcapInterfaces(IPEndPoint, RemoteAuthentication)`

https://github.com/dotpcap/sharppcap/blob/4321129727c79ccb7d2417c03adf5fe2647bf31d/SharpPcap/LibPcap/PcapInterface.cs#L187-L190

See https://github.com/dotpcap/packetnet for how to decode packets.

[2021-12-11 14:45] LambdaTheDev opened #363 "SharpPcap is not working on MacOS 11.3.1, what to do?"
I have just downloaded SPCAP on my MacOS device & tried to run Example 6, but I got this exception:
[code]
Then, I ran the Pcap.Version, and got the error text:
[code]
Is there anything I can do to make It work?

[2021-12-11 15:01] kayoub5 commented on #363
* .NET version?
* SharpPcap version?
* Libpcap version?

[2021-12-11 15:03] LambdaTheDev commented on #363
* .NET 5
* Latest from NuGet
* Unable to get it, second error appears if I try to use Pcap.Version

[2021-12-11 15:09] LambdaTheDev commented on #363
I created this code:
[code]
And this is a result:
[code]

[2021-12-11 15:35] LambdaTheDev commented on #363
I have found a solution. Go to LibPcapSafeNativeMethods.Interop, and there: `private const string PCAP_DLL = "wpcap";` - Make some check for MacOS and do there just `"pcap"`.

[2021-12-11 15:38] kayoub5 commented on #363
@LambdaTheDev What version of .NET are you using?
SharpPcap 6 requires .NET Core 3 or higher.

[2021-12-11 15:39] LambdaTheDev commented on #363
@kayoub5 As I said - 4.8. But as I also said - I found a problem. In MaxOS pcap DLL name is just `pcap` instead of `wpcap`.

[2021-12-11 15:43] kayoub5 commented on #363
@LambdaTheDev
.NET 4.8 means you are using Mono, and not .NET Core
Workaround would be to put this file https://github.com/dotpcap/sharppcap/blob/v5.4.0/SharpPcap/SharpPcap.dll.config next to `SharpPcap.dll`

[2021-12-13 01:40] chmorgan commented on #328
@jgaulon this seems odd, I think I confirmed things working here on osx. Assuming we don't have a test for pcapng files it could help us in fixing it to add one. Lets see what @kayoub5 says below if we are testing this case or not.

@kayoub5 have you tested with any pcapng files? I can't tell if any of the files in Test/capture_files/ are ng format, 'file' shows:

[code]

[2021-12-13 01:44] chmorgan commented on #361
Hi @UmmonKRS, you'll want to look at https://github.com/dotpcap/packetnet, and it looks like 802 is supported:

grep -ri RSSI

[code]

[2021-12-13 18:46] kayoub5 commented on #328
@chmorgan currently PCAPNG depends on the libpcap/npcap underlying support, this support is limited as best (no multi-interface support for example).

We don't have tests for PCAPNG, since we are not testing libpcap itself, and we don't have any PCAPNG specific code (Libpcap API is the same regardless of the the file format).

The best solution would be to adopt an existing PCAPNG library into dot

[2021-12-16 05:25] UmmonKRS commented on #361
Hi Chris!
Got it, parse works fine for me, thank you!

But I've stucked in capture packages in monitor mode.
Have 2 different AP, Win10, npcap 1.55; using Wireshark and AP in monitor mode - I can see there is packages.
I've tried Example03.BasicCap, VS2019 admin mode - there is no events device_OnPacketArrival.
Have tried to play with mode/timeout on device.Open(...) with no success.
Changing mode

[2021-12-20 02:48] UmmonKRS commented on #361
Hi @chmorgan
Have you any ideas how to solve this issue?

[2021-12-20 06:40] clandestinenetworks commented on #360
hahahaha sorry I actually ended up just continuing to work with pyshark just because the header / layer decoding is a little farther along. I actually would prefer though working with .NET especially there were more decoders like with scapy. I ended up even with pyshark having to write some pretty remedial code to do naive deduplication using a chunked reader but it worked out and its really fast.

[2021-12-20 11:56] chmorgan commented on #360
Hah, I’m glad you got things working.

What kinds of decoders? These are open source projects so we run on
suggestions and proposed code changes.

Chris

On Mon, Dec 20, 2021 at 1:40 AM CₗₐₙDₑₛₜᵢₙₑ ₙₑₜWₒᵣₖₛ <
***@***.***> wrote:

[2021-12-21 10:43] #363 closed

[2021-12-24 19:30] AlmightyLks commented on #147
TLDR;
Seemingly next to impossible, unless lots of efforts and knowledgeable people are involved

---

Alright. After days of research and prototyping, I've looked into it in depth.
I have got a prototype of Windows to work, and I've got a prototype of Linux to work.
However, unlike Windows' implementation of a simple Win32 API P/Invoke to get all information at once, the effort to get it to work

[2021-12-24 19:49] kayoub5 commented on #147
@AlmightyLks I know this may seem inefficient, but why not just use `lsof` in Linux once you get the inode?

[2021-12-24 20:10] AlmightyLks commented on #147
@kayoub5 Interesting point. Could you provide a CLI-example to fetch the info filtered by a given inode?

[2021-12-24 22:05] kayoub5 commented on #147
Syntax: `ls -i[46][protocol][@hostname|hostaddr][:service|port]`
Example:
[code]

It could be slow (due to creating a new child process), but it is accurate and simple.

[2021-12-28 16:42] kayoub5 commented on #328
@chmorgan another solution, that does not involve supporting our own PCAPNG implementation is using an existing C one through PInvoke, I am currently maintaining one at https://github.com/Technica-Engineering/LightPcapNg

[2021-12-30 13:35] chmorgan commented on #328
@kayoub5 I like using that lightpcapng library but I worry that we'd be pulling in more unmanaged code and for portability, if it isn't a performance improvement, using managed code seems like it could be better.

Are any of these options sufficient for us to add them as a dependency? I know we discussed reaching out to see if the authors would want to fold the library into the dotpcap suite.

Tho

[2021-12-30 14:46] kayoub5 commented on #328
You either use managed code for both PCAP and PCAPNG, or make a wrapper. Don't try to mix unmnaged implementation for some formats (using Libpcap/Npcap), and managed for others (PCAPNG).
We are already wrapping many drivers, lightpcapng  would just be another one.

I would prefer to merge projects, or at least make project move to dotpcap group, rather make it a dependency otherwise we risk a "dep

[2021-12-31 14:47] chmorgan commented on #328
@kayoub5 if you'd prefer lightpcapng (and you are the maintainer) then lets go with that for both pcap and pcapng reading/writing. Agree on using the same approach across both pcap and pcapng formats.

[2021-12-31 16:06] chmorgan commented on #317
@kayoub5 travis is looking for a credit card to sign up for their free plan. I told them we'd likely pass since we have other CI providers and I'm not particularly interested in providing a credit card for what they say is a free plan. We'll see if their support person will respond.

[2021-12-31 17:10] kayoub5 commented on #317
Travis would be interesting for testing that library works on arm architecture, otherwise existing ci providers cover what we need.

[2022-01-10 13:59] kayoub5 commented on #328
@chmorgan I got approval from my employer to open source their C# PCAP/PCAPNG reader/writer (I wrote most of it).

The only condition is that the source files that you will get will keep the `Copyright © Technica Engineering GmbH` notice as publicity for them.

Shall I open the PR?

[2022-01-10 17:55] chmorgan commented on #328
Copyright sounds good, credit is deserved and doesn’t conflict with the
project license.

Very good man!!

On Mon, Jan 10, 2022 at 9:00 AM Ayoub Kaanich ***@***.***>
wrote:

[2022-01-15 22:22] kayoub5 commented on #147
@AlmightyLks did you get any luck?

[2022-01-15 22:28] AlmightyLks commented on #147
Didn't have the time to look into it yet, but this is also a unsuiting imo, especially as this - again - is going to be very unperformant

I also will be away for a while due to personal reasons, so no time to check up on it now

[2022-02-04 20:50] Bart-Baekelandt opened #369 "unit for multiplying micro/nano-seconds wrong"
In PcapHeader.cs -> public IntPtr MarshalToIntPtr(TimestampResolution resolution)

Contains a unit for resizing the micro- or nansecond value :
 var unit = resolution == TimestampResolution.Nanosecond ? 1e-9M : 1e-6M;

This results in a zero tv_usec
var tv_usec = (ulong)((Timeval.Value % 1) * unit);

Instead the unit should be 1000000000 or 1000000
 var unit = resolution == TimestampResolution.Nan

[2022-02-04 21:22] kayoub5 commented on #369
@Bart-Baekelandt could you make a PR?

[2022-02-05 23:14] InteXX opened #370 "Converting from old v1.x API"
I'm updating some very old code that uses SharpPCap v1.0.6, and I'm hitting some dead ends. Suggestions, please?

1. `this._Time = packet.PcapHeader.Date;` (there is no `PcapHeader` property)
2. `TCPPacket` and `UDPPacket` references (classes no longer exist)
3. `_offlinedevice = SharpPcap.GetPcapOfflineDevice(this.FileName);` (not finding an equivalent method)
4. `while ((packet = _offlinedevice.

[2022-02-05 23:43] kayoub5 commented on #370
packet.Header https://github.com/dotpcap/sharppcap/blob/master/SharpPcap/PacketCapture.cs

See https://github.com/dotpcap/packetnet

CaptureFileReaderDevice

See Example4

IsOpen

Example6

OnPacketArrival

device.Open(....)

CaptureFileWriterDevice

[2022-02-05 23:47] InteXX commented on #370
Thank you very much. That was surprisingly fast.

[2022-02-06 00:29] InteXX commented on #370
Hm... still none of it is working, though. I'd better slow down and provide more detail for each one.

First up: `this._Time = packet.PcapHeader.Date;` (there is no PcapHeader property)

Here's the snippet:

[code]
The `packet` paremeter was originally of type `Tamir.IPLib.Packets.Packet`, not the new `SharpPcap.PacketCapture`. What would be the equivalent for this?

[2022-02-06 07:34] kayoub5 commented on #370
Your code is way too old to map things one to one, PacketCapture contains the raw data from winpcap/LibPcap (timestamp and data bytes)
IpPacket is the result of decoding the PacketCapture data and contains fields like ip addresses

[2022-02-07 00:05] InteXX commented on #370
That's what I was afraid of.

But thanks for the clarification.

[2022-02-07 14:25] chmorgan commented on #370
Have you looked at some of the sharppcap and packet net examples? While it
isn’t a one to one mapping it should be relatively apparent how to adjust
for the api changes and we can help answer specific questions.

Regards,
Chris

On Sun, Feb 6, 2022 at 7:05 PM Jeff Bowman ***@***.***> wrote:

[2022-02-08 20:39] InteXX commented on #370
@chmorgan

That's a gracious offer... I believe I'll take you up on that.

I'm presently juggling several projects, though, so it's going to be slow going.

[2022-02-21 20:34] dozan0 opened #372 "Wifi Packet Injection"
Hello,

Does sharppcap support wifi packet injection? if doesnt, will it support in the future?

[2022-02-22 12:00] kayoub5 commented on #372
WiFi injection depends on the driver you are using (WinPcap, Libpcap, Npcap, WinDivert...) if that driver supports it, then SharpPcap supports it as well.

[2022-04-18 16:14] Triky313 opened #379 "Anyone have experience reading data when using a gaming VPN like ExitLag?"
I haven't gotten it to work yet when a VPN like ExitLag is active.
Does anyone have an idea what I generally have to consider if I want to capture data and a VPN is active?

I run everything through NPCap.

[2022-04-23 15:36] kayoub5 commented on #379
VPN will create a virtual interface, you can normally see the traffic when capturing on that interface.

[2022-05-03 08:40] Triky313 commented on #379
This does not work with ExitLag. Other VPN providers have no problem. Apparently the problem is on ExitLag's side.

[2022-05-03 08:40] #379 closed

[2022-05-06 22:39] KoenPlasmansLS commented on #343
@kayoub5 I was able to investigate further and came to the following conclusion:

The culprit for us is this line:
https://github.com/dotpcap/sharppcap/blob/fd4efd435dd50fb9ab35965c9193ddc2fcbcbf35/SharpPcap/RawCapture.cs#L96
which can cause an AccessViolationException which crashes our entire CLR for our program.

Changing the code to this (see below), keeps the code running but has possible side

[2022-05-07 16:27] #356 closed

[2022-05-07 16:37] chmorgan commented on #370
Closing due to inactivity. Please reopen if you've got further questions!

[2022-05-07 16:37] #370 closed

[2022-05-07 16:37] #360 closed

[2022-05-07 16:38] chmorgan commented on #317
@kayoub5 oh right, it was that travis needed a credit card for the OSS plan

[2022-05-07 16:38] #372 closed

[2022-05-07 16:38] chmorgan commented on #317
@kayoub5 I confirmed the credentials are working for npcap. Not sure what could have broken... still looking

[2022-05-07 16:44] chmorgan commented on #317
@kayoub5 maybe its the tls switchover that broke it?

https://devblogs.microsoft.com/devops/deprecating-weak-cryptographic-standards-tls-1-0-and-1-1-in-azure-devops-services/

[2022-05-07 17:01] kayoub5 commented on #317
CI logs does not say anything HTTPS or cryptographic related, it's simply failing to provide npcap server with correct credentials during download step.

[2022-05-07 22:20] InteXX commented on #370
Thanks Chris. I've just been so doggone busy...

[2022-05-08 14:10] #362 closed

[2022-05-09 05:23] #369 closed

[2022-05-27 11:44] KoenPlasmansLS commented on #343
@kayoub5 : I just wanted to give you a heads up that the latest changes you made in https://github.com/dotpcap/sharppcap/pull/345/files fix the bugs in all our environment as it has been running for 2 weeks without anymore crashes! Big kudo's for helping us out!!
Let us know if the changes are put in an official release so we can upgrade our system (which are now using a custom build).

[2022-05-28 09:28] kayoub5 commented on #343
Thanks for the feedback, I noticed that the crashes no longer take place in that PR in Windows we still get crashes in Linux but I didn't get the time to debug them.

@chmorgan should we limit the scope of #345 to Windows and make a separate PR for Linux?

[2022-05-28 09:45] kayoub5 opened #396 "Optimize appveyor CI"
So far the slowest CI we have is appveyor, it does not allow jobs to run in parallel

The hosts provided by appveyor are slow as well, it would reduce CI time a lot if we limit the scope of what appveyor run:

* Run only Windows and macos jobs, not Linux (Linux is covered enough by other CI providers)
* Run only PRs, not branches (currently appveyor runs twice for each commit in each PR)

@chmorga

[2022-05-30 12:35] j-ghadiri opened #397 "How to use as Worker Service in .net 6.0"
How to use this plugin for device capture
`device.StartCapture();`
without use
`Console.ReadLine();`

or how to use this plugin for packet capture in windows service that create as [worker](https://docs.microsoft.com/en-us/dotnet/core/extensions/windows-service) ???

in usual state not capture without Console.ReadLine() code and raise Device_OnCaptureStopped event ...

also I would capture device

[2022-05-30 13:03] wanderernxa opened #398 "Use NDPI vs Libpcap or side by side?"
Hi,
First of all...great work!
Since NDPI does deep packet inspection and has an extensive library for interrogating the application stack, would it be possible to use that library instead of the libpcap or is it possible to use it side by side? Like pass the captured packets from libpcap to the ndpi library?

thanks

[2022-05-30 15:20] wanderernxa commented on #398
I am pretty sure that you have to pass the packets to the ndpi library for analysis, so I figured I can pass the packets from libpcap to ndpi for analysis. I checked PacketNet and it doesnt seem to do HTTPS analysis. How would I go about adding protocols to the Packetnet library for analysis?

thanks.

[2022-05-30 16:15] kayoub5 commented on #397
`Console.ReadLine` is not required, it's just there to make the example console application wait for user input.

[2022-05-31 10:25] j-ghadiri commented on #397
without `Console.ReadLine` capture stoped in worker service and raise Device_OnCaptureStopped event

[2022-05-31 16:11] kayoub5 commented on #397
You can use `Thread.Sleep(Timeout.Infinite);` instead.

[2022-06-12 11:47] kayoub5 commented on #398
@wanderernxa I assume you mean https://github.com/ntop/nDPI

nDPI is a packet **Inspection** Software Toolkit, sharppcap is packet **capture** library.

Adding nDPI to sharppcap does not make much sense, since sharpcap itself offer no packet decoding,

The packet decoding is provided by https://github.com/dotpcap/packetnet feel free to make a proposal to support nDPI there, but I believe it's outs

[2022-06-12 11:47] #397 closed

[2022-07-03 16:30] Fabi opened #409 "Consider replacing all Marshal.PtrToStructure with manual marshalling"
Recently I worked on some apps with sharppcap and tested it with the reflection free mode in native aot. Currently it's incompatible due to the usage of Marshal.PtrToStructure.
It should be considered to change all those usages to custom marshalling to have those things working at least in .NET 7 in reflection free mode.

Samples from my runtime issue: https://github.com/dotnet/runtime/pull/70866

[2022-07-17 08:55] Dunnymeister opened #410 "Support for USBPcap devices"
I was looking at porting some code from golang to c# and am stuck trying to get SharpPcap to return USBPcap devices.

[gopacket](https://github.com/google/gopacket) returns them without doing anything special, provided that WinPcap and USBPcap is installed on the machine. Is there something I'm missing in SharpPcap or is it not supported currently?

[2022-07-17 10:10] kayoub5 commented on #410
Sharppcap does not currently support USBPcap

[2022-07-17 13:06] Dunnymeister commented on #410
Thanks for the quick response and clarification 🙂

[2022-07-17 13:06] #410 closed

[2022-07-19 00:44] rexlManu opened #411 "Support pcap_open without credentials for rpcap remote capturing"
Hey,

I'm currently trying to remotly read windows traffic via rpcapd running on windows and reading it on Linux.

I compiled libpcap and tcpdump to support remote capture and I can see my windows traffic when I try to read it via tcpdump.

But to work I need to replace the backslash for doubles. as example:
`tcpdump -i rpcap://192.168.2.115:1337/\\Device\\NPF_{D55DEB80-AD97-4004-9F0C-FD5661D9FC45

[2022-07-19 06:49] kayoub5 commented on #411
Npcap/WinPcap version used in client/server?

[2022-07-19 11:50] chmorgan commented on #410
We’d be open to contributions to support this library, @kayoub5 ?

[2022-07-19 11:55] kayoub5 commented on #410
yes

[2022-07-19 19:37] kayoub5 commented on #411
Use `new RemoteAuthentication(AuthenticationTypes.Null, null, null)` instead of `null`

[2022-07-22 18:33] rexlManu commented on #411
That's a good work around.

[2022-07-22 18:33] #411 closed

[2022-09-04 09:10] Humberto-Molina commented on #42
is there a solution to this? I have the same problem

[2022-09-04 09:35] kayoub5 commented on #42
@Humberto-Molina please open a separate ticket with details on your specific context.

[2022-09-16 13:15] CyrilFRA opened #417 "Error while loading SharpPcap dll in LabVIEW on Windows 7"
Hello,

I’m creating a LabVIEW library to capture the network. It uses SharpPcap to connect to nPcap. I got compiled dll with dependencies from [NuGets](http://www.nuget.org/).
I made my development on Windows 10 x64, **everything is working well**.

I need to install it on an offline **Windows 7 x64** PC.
I don’t know why, but SharpPcap dll could not be loaded by LabVIEW (2017 x64)…
![LV_Error](h

[2022-09-16 13:45] kayoub5 commented on #417
Try upgrading the project to target .NET Framework 4.7.2 or higher.
See https://docs.microsoft.com/en-us/dotnet/standard/net-standard?tabs=net-standard-2-0

[2022-09-16 13:48] kayoub5 commented on #417
.NET Standard 2.0 was released August 14th, 2017, so it could be that LabVIEW 2017 is using an outdated .NET version that do not support .NET Standard 2.0

[2022-09-16 14:13] #417 closed

[2022-10-10 13:43] SebMichaud opened #421 "SendPacket versus ReadOnlySpan versus array of bytes"
Hi,
Would it be possible to expose a method to convert a byte array to a ReadOnlySpan ?
Or would it be possible to add a second SendPacket method with a byte array as en inout instead of a ReadOnlySpan ?
I work with a langage that does not allow to create a "ref struct".
If I remember well the previous version of sharppcap had a byte array as an input of the SendPacket method that was very simple

[2022-10-10 20:49] kayoub5 commented on #421
@SebMichaud you could open a PR with the proposed change

[2022-10-17 07:16] kayoub5 commented on #343
The last bit of code needed to prevent crashes in Linux was implemented in https://github.com/dotpcap/sharppcap/pull/422 and tested in https://github.com/dotpcap/sharppcap/pull/423

[2022-10-17 07:16] #343 closed

[2022-10-23 09:24] #398 closed

[2022-10-26 02:52] suzhou-Second opened #426 "How to read voip information"
I want to read the information in the RTP package, but I don't know how to read it.
Whether RTP can be read

[2022-11-07 17:33] Shadow-XT opened #432 "How to capture and parse HTTP protocol packets"
Because of the needs of the program, I want to know how to capture the HTTP protocol packets through SharpPcap. Because in SharpPcap, I only found the transport layer protocols such as TCP and UDP, but the upper application layer protocols were not found. If the application layer protocol interface is not provided, what programming methods can capture and parse the application layer protocols?

[2022-11-07 20:59] kayoub5 commented on #432
See https://github.com/dotpcap/packetnet-connections/blob/master/Examples/HttpMonitorExample/Main.cs

[2022-11-07 20:59] #432 closed

[2022-11-07 21:01] kayoub5 commented on #426
See example in https://github.com/dotpcap/packetnet/blob/af442b608f72d0c3f19ed4a9dc32f950558fde48/Test/PacketType/RtpPacketTest.cs

For RTP and packet dissection in general please use https://github.com/dotpcap/packetnet repo.

[2022-11-07 21:01] #426 closed

[2022-11-14 13:20] ErcinDedeoglu opened #434 "Forcing a process to communicate through the proxy"
Hello,
I'm researching this topic. I checked StackOverflow, and almost all issues redirected me to this project.

Please give me a hand if this is the correct place to ask.

I want to make a simple application that will take PID and force that PID's owner process to communicate via a proxy/socks.

Like ProxyCap or Proxifier... Can I use this library to make it happen? If not, could you teach me th

[2022-11-14 14:05] kayoub5 commented on #434
Windows or Linux?

[2022-11-15 06:33] ErcinDedeoglu commented on #434
Thank you, @kayoub5.
I was trying to reverse engineer what the ProxyCap application is doing. After you pointed to the registry change, I realized that ProxyCap made a couple of changes to the Windows registry:
`[HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services\WinSock2\Parameters\Protocol_Catalog9\Catalog_Entries64\000000000001]
"PackedCatalogItem"=hex:70,63,61,70,77,73,70,2e,64,6c,6c,00,00,0

[2022-11-15 07:55] kayoub5 commented on #434
@ErcinDedeoglu

Yes

* It can be done with Npcap, WinDivert or WinPktFilter, but out of those three, WinDivert is the only fully open source one.
* Those libraries will provide the packet itself, and the means to alter it, but not the means to know to what process it belongs to.

Another solution you can try, is to perform Socket hooking, using for example https://github.com/thenameless314159/Sock